body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
nav {
  background-color: #232020;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
nav .liLeft {
  float: left;
}
nav .liRight {
  float: right;
}
nav li a {
  display: block;
  color: #f4f4f4;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  font-weight: bold;
}
nav li a:hover {
  background-color: #3a3535;
}
#lead {
  background-color: #3a3535;
  color: #f4f4f4;
  padding: 10px;
}
.lead {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 2rem;
}
.leadform {
  display: block;
  margin: 5px auto;
  text-align: center;
  font-size: 1.25rem;
}
footer {
  text-align: center;
  font-size: .8rem;
  color: #3a3535;
}
footer a {
  color: #ff7315;
  text-decoration: none;
}
footer a:hover {
  color: #3a3535;
}
hr {
  color: #f4f4f4;
  margin-top: 4rem;
  width: 5%;
  border: dotted;
  border-width: .25rem;
  border-bottom: none;
}
h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 1.8rem;
}
button {
  background-color: transparent;
  color: #f4f4f4;
  text-decoration: none;
  border: .1rem solid #f4f4f4;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}
input {
  background-color: #f4f4f4;
  border: .1rem solid #f4f4f4;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.widget {
  width: 290px;
  text-align: center;
  padding: 20px 10px 50px 10px;
  margin: 10px;
  font-size: 1.2rem;
}
.widget ul {
  list-style-type: circle;
  padding-inline-start: 5px;
  
}
.widget li {
  border-bottom: dashed 1px #f4f4f4;
}
.bold {
  font-weight: bold;
}
.large {
  font-size: 2rem;
}
.grid-container {
  background-color: #ff7315;
  color: #f4f4f4;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}
.react-icons {
  vertical-align: center;
  size: 2rem;
  color:#f4f4f4;
}
@media screen and (max-width: 1000px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 700px) {
  .grid-container {
    grid-template-columns: auto;
  }
  nav .liLeft {
    float: none;
  }
  nav .liRight {
    float: none;
    text-align: center;
  }
}